<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LabDAL.Properties.Settings.LabDBDAL" connectionString="Data Source=localhost;Initial Catalog=LabDB;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="LabDAL.Properties.Settings.ClientLabDBConnectionString"
            connectionString="Data Source=|DataDirectory|\LabDB.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>